:root
{
    --color1: pink;
    --color2: red;
    --color3: white;
    --color4: rgb(104, 3, 3);
    --color5: peachpuff;
    --main-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --sub-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html
{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 1px;
}
*
{
    padding: 0;
    margin: 0;
}
body header,main,section,footer
{
    scroll-snap-align: start;
}

header
{
    border: none;
    height: fit-content;
    font-family: var(--main-font);
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
}
header fieldset
{

    background-color: var(--color1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    border: none;
    height: fit-content;
}
header ul
{
    list-style: none;
    display: flex;
    background-color: var(--color1);
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 30px;
}
header a
{
    text-decoration: none;
    color: var(--color2);
}

#logo
{
    font-family: var(--sub-font);
    color: var(--color2);
    display: flex;
    align-items: center;
}
#logo img
{
    height: 60px;
    width: 60px;
}

#tabs
{
    padding: 0;
}
#tabs li
{
    font-weight: bold;
    font-family: var(--main-font);
}
#tabs a
{
    padding: 10px;
    margin: 10px;
    color:var(--color3);
    transition: color 300ms ease;
}
#tabs a:hover
{
    color: var(--color4);
}

.banner
{
    margin-top: 10px;
    height: 90vh;
    background-color: var(--color1);
    border-style: none;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.name
{
    font-size: 100px;
    color: var(--color2);
}
.name img
{
    width: 80vw;
}
.subname
{
    font-size: 50px;
    font-weight: bolder;
    font-family: var(--sub-font);
    color: var(--color2);
}
.text
{
    font-size: 200%;
    color: var(--color4);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_btns
{
    width: 90%;
    height: fit-content;
    border: solid white;
    border-radius: 50px ;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.wa ,.fb
{
    width: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wa,.fb a
{
    text-decoration: none;
}

main, section
{
    background-color: var(--color3);
}
.cards
{
    display: flex;
    border-style: none;
    height: 100%;
    width: 100%;
}
.card
{
    border-radius: 20px;
    margin: 10px;
    height: 95%;
    background-color: #ffffff;
    flex: 1;
    transition: 300ms all ease;
}
.card:hover
{
    flex: 3;
    background-color: rgb(207, 207, 207);
}
section
{
    overflow: hidden;
}

.carousel
{
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    border-style: none;
}
@keyframes slide 
{
    0%
    {
        transform: translate(0);
    }

    50%
    {
        transform: translate(calc(-50% * 6));
    }
    100%
    {
        transform: translate(0);
    }
}
.wrapper
{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    padding: 0;
    animation: slide 30s linear infinite;
    border: none;
}
.item
{
    width: 50%;
    height: 90%;
    flex-shrink: 0;
    background-color: white;
    border-radius: 10px;
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid var(--color4);
    box-shadow: var(--color4) 5px 5px 10px 5px;
    overflow: hidden;
}
img
{
    width: 100%;
    height: 95%;
}

footer
{
    width: 90%;
    height: 80px;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Bahnschrift;
    background-color: peachpuff;
    border-radius: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 40);
}
footer img
{
    height: 70px;
    width: 70px;
}
footer p
{
    color: var(--gold);
    font-weight: 900;
}
