:root
{
    --color1: pink;
    --color2: red;
    --color3: white;
    --color4: rgb(104, 3, 3);
    --color5: peachpuff;
    --main-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --sub-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html
{
    scroll-behavior: smooth;
}
*
{
    padding: 0;
    margin: 0;
}
header
{
    border: none;
    height: 40px;
    padding-bottom: 20px;
    font-family: var(--main-font);
    background-color: var(--color1);
}
header fieldset
{
    border-style: none;
    background-color: var(--color1);
}
header ul
{
    list-style: none;
    display: flex;
    background-color: var(--color1);
}
header li
{
    margin-top: 10px;
}
header a
{
    text-decoration: none;
    color: var(--color2);
}

#logo
{
    float: left;
    padding: 0;
    margin: 0;
    font-family: var(--sub-font);
    color: var(--color2);
    gap: 10px;
    background-color: transparent;
}
#logo img
{
    height: 50px;
    width: 50px;
    margin: 5px;
}

#tabs
{
    float: right;
    padding: 0;
    margin-top: 10px;
}
#tabs li
{
    font-weight: bold;
    font-family: var(--main-font);
}
#tabs a
{
    padding: 10px;
    margin: 10px;
    color:var(--color3);
    transition: color 300ms ease;
}
#tabs a:hover
{
    color: var(--color4);
}

.banner
{
    margin-top: 10px;
    height: 95vh;
    background-color: var(--color1);
    border-style: none;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.name
{
    font-size: 100px;
    color: var(--color2);
}
.subname
{
    font-size: 30px;
    font-family: var(--sub-font);
    color: var(--color2);
}
.text
{
    font-size: 30px;
    color: var(--color4);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

main, section
{
    background-color: var(--color3);
}
.cards
{
    display: flex;
    border-style: none;
    height: 100%;
    width: 100%;
}
.card
{
    border-radius: 20px;
    margin: 10px;
    height: 95%;
    background-color: #ffffff;
    flex: 1;
    transition: 300ms all ease;
}
.card:hover
{
    flex: 3;
    background-color: rgb(207, 207, 207);
}
span
{
    padding-right: 10px;
}

section
{
    overflow: hidden;
}

.carousel
{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    border-style: none;
}
@keyframes slide 
{
    0%
    {
        transform: translate(0);
    }

    100%
    {
        transform: translate(calc(-80vw * 7));
    }
}
.wrapper
{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
     list-style: none;
    padding: 0;
    animation: slide 20s linear infinite;
    border: none;
}
.item
{
    width: 100%;
    height: 90%;
    flex-shrink: 0;
    background-color: white;
    border-radius: 10px;
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
img
{
    width: 100%;
    height: 95%;
}
.price
{
    border: solid var(--color4);
    color: var(--color4);
    border-radius: 10px;
    font-family: var(--main-font);
    font-weight: bold;
    width: 80px;
    display: flex;
    justify-content: center;
}.contacts
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    background-color: var(--color1);  
    border-radius: 20px;
    border: solid var(--color4);
}


.note
{
    width: 200px;
    height: 40px;
    color: var(--color4);
    border: solid var(--color4);
    display: flex;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font);
}

#par
{
    gap: 10px;
    width: 90%;
    height: 80%;
    display: flex;
    border-radius: 10px;
    padding-left: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#par img
{
    width: 50%;
    height: 50%;
}
#links
{
    gap: 30%;
    width: 50%;
    height: 89%;
    display: flex;
    color: white;
    padding-top: 0%;
    flex-wrap: wrap;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bolder;
    flex-direction: column;
    justify-content:space-evenly;
}
#links li
{
    list-style: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#links a
{
    text-decoration: none;
}
.icon1
{
    border-style: solid;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 50%;
    border-width: 3px;
    color: green;
    background-color: var(--color3);
    border-color: blue;
}
.icon2
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: solid;
    padding-left: 10px;
    padding-right: 3px;
    border-radius: 50%;
    border-width: 3px;
    color:blue;
    background-color: white;
}
.icon3
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: solid;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 50%;
    border-width: 3px;
    color:blue;
    background-color: white;
    border-color: blue;
}

.item
{
    background-color: var(--color1);
}
